@model IEnumerable<CustomerManager2.Models.CustomerModels.Departament>

@{
    ViewData["Title"] = "Default";
}

<h2>Default</h2>

<p>
    <a asp-action="CreateDepartament">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manager.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(model => item.Manager.Name)
            </td>
            <td>
                <a asp-action="EditDepartament" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="DeleteDepartament" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
